<!doctype html>
<html lang="{{ site.lang | default: 'vi-VN' }}">

<head>
<meta property="og:type" content="website" />
    <meta property="og:image" content="https://laptrinhbanthan.com/de4js/decodejs-lap-trinh-ban-than.jpg" />
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico">
    <link rel="canonical" hreflang="vi" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="https://laptrinhbanthan.com/de4js/assets/css/style.css">
    {% seo %}
</head>

<body>

    <header>
        <div class="container">
            <h1>{{ site.name }}<sup id="offline">Offline</sup></h1>
            <h2>{{ site.description }}</h2>

            <section id="downloads">
                {% if site.show_downloads %}
                <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a> {% endif %}
                <a href="https://laptrinhbanthan.com" class="btn btn-github"><span class="fa fa-home"></span> Xem trang chủ</a>
            </section>
        </div>
    </header>

    <div class="container">
        <section id="main_content">
            <form class="wrap" name="bvDecode">
                <textarea id="input" class="content" rows="7" placeholder="Paste vào đây..."></textarea>
                <textarea id="output"></textarea>

                <div class="config center">
                    <input id="none" class="magic-radio" type="radio" value="" name="encode" checked>
                    <label for="none">None</label>
                    {% for opt in site.data.options %}
                        <input id="{{ opt.key }}" class="magic-radio" type="radio" value="{{ opt.key }}" name="encode">
                        <label for="{{ opt.key }}">{{ opt.name }}</label>
                    {% endfor %}
                    <input id="nicify" class="magic-radio" type="radio" value="nicify" name="encode" disabled>
                    <label for="nicify">Unreadable</label>
                </div>

                <div class="config center">
                    <input id="beautify" class="magic-checkbox" type="checkbox" name="beautify" checked>
                    <label for="beautify">Làm đẹp</label>
                    <input id="auto" class="magic-checkbox" type="checkbox" name="auto">
                    <label for="auto">Tự động</label>
                </div>

                <div class="center">
                    <button id="redecode" class="btn" type="button">
                        Tiếp tục giải mã
                    </button>
                    <button id="clear" class="btn" type="reset">
                        Xóa sạch
                    </button>
                </div>

                <div class="view-wrap">
                    <div class="view-control">
                        <button id="copyjs" class="btn" type="button">
                            <img class="btn-icon" src="{{ 'assets/icon/copy-document.png' | relative_url }}" alt="Copy to clipboard">
                        </button>
                        <a id="preview" class="btn" type="button" href="#" target="_blank">
                            <img class="btn-icon" src="{{ 'assets/icon/external-link-symbol.png' | relative_url }}" alt="Open in new tab">
                        </a>
                    </div>
                    <pre id="view" class="hljs">Vui lòng chọn đúng loại mà bạn cần giải mã!</pre>
                </div>
            </form>
        </section>
    </div>

    <script src="https://laptrinhbanthan.com/de4js/assets/js/lib/clipboard-js/clipboard.min.js"></script>
    <script src="https://laptrinhbanthan.com/de4js/assets/js/main.js"></script>
</body>

</html>
